<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>This page will be server in all paths</h1>
    <p class="entry"></p>
    <button type="submit" class="entry" name="entry" id="entry">Test</button>
    <script src="/js/script.js"></script>
  </body>
</html>
